<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'store/css/disks.css' %}" /> -->
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="col-sm-offset-2 col-sm-10">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">

                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="{% url 'disk_manager:index' %}">Gestion de disques</a>
            </div>
            <div style="float: right;">
                <a class="navbar-brand" style="float: right;" href="{% url 'user:deconnexion' %}">Déconnection</a>
            </div>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'disk_manager:index' %}">Tous vos disques</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- content -->
    <div class="container">
        <div class="row">
          <div class="box">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; <a href="https://www.linkedin.com/in/gwendal-toullec/" target="_blank">Gwendal TOULLEC</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

  </body>
</html>
