{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    {% if id %}
    <h3 class="page-header" style="text-align:center">Modification des disques</h3>
    <form action="{% url 'disk_manager:edit' id=id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <h3 class="page-header" style="text-align:center">Enregistrement des disques</h3>
    <form action="{% url 'disk_manager:add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div style="margin-top: 5px;">
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
          <br />
          <div style="float: right; margin-top: 5px;">
            <a href="{% url 'disk_manager:index' %}" class="btn btn-primary">Annuler</a>
          </div>
        </div>
      </div>
    </form>
{% endblock content %}
