{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center;">Affichage de la liste</h3>
<div style="float: right; margin-bottom: 5px;;">
    <a href="{% url 'disk_manager:add' %}" class="btn btn-primary btn-sm">ajouter à</a>
</div>
<div>
    <h4>Récap Total:  </h4>
    {{ total_price }}€, {{ disks_quantity }} disques
</div>
<div>
    <h4>Récap par type de disque:</h4>
    {% for type, total in total_by_type.items %}
        {{type}}: {{ total.total_price }}€, {{total.disks_quantity }} disques <br />
    {% endfor %}
</div>
<br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>type</th>
            <th>serial number</th>
            <th>brand</th>
            <th>price</th>
            <th>size</th>
            <th>speed</th>
            <th>user</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for disk in disks %}
        <tr>
            <td>{{ disk.type }}</td>
            <td><a href="{% url 'disk_manager:detail' id=disk.id %}">{{ disk.serial_number }}</a></td>
            <td>{{ disk.brand }}</a></td>
            <td>{{ disk.price }}</td>
            <td>{{ disk.size }} (Go)</a></td>
            <td>{{ disk.speed }} (MB/s)</a></td>
            <td>{{ disk.user }}</td>
            <td>{{ disk.quantity }}</td>
            <td>
                <a href="{% url 'disk_manager:edit' id=disk.id %}" class="btn btn-primary btn-sm">Éditer</a>
                <a href="{% url 'disk_manager:delete' id=disk.id %}" class="btn btn-primary btn-sm" id="btn_del">Effacer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block script %}
{% endblock %}
